<div class="countdown">
  <div class="countdown__item">
    <span class="countdown__value">{{ days }}</span>
    <span class="countdown__label">:</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ hours }}</span>
    <span class="countdown__label">:</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ minutes }}</span>
    <span class="countdown__label">:</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ seconds }}</span>
    <span class="countdown__label"></span>
  </div>
</div>