<div class="countdown">
  <div class="countdown__item">
    <span class="countdown__value">{{ days }}</span>
    <span class="countdown__label">Días</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ hours }}</span>
    <span class="countdown__label">Horas</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ minutes }}</span>
    <span class="countdown__label">Minutos</span>
  </div>
  <div class="countdown__item">
    <span class="countdown__value">{{ seconds }}</span>
    <span class="countdown__label">Segundos</span>
  </div>
</div>