@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap"); // importarlo en el index.html
$countdown-bg: #ede2de;
$text-color: #cf8788;
$highlight-color: #d49c9b;
$box-bg: #e6c0be;
$box-border: #bb6a71;

//Cambiar nombre countDown a container
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 20px;
  margin: 0 auto;

  .countdown__item {
    display: flex;
    align-items: center;
  }

  .countdown__value {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 70px;
    height: 70px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;

    font-size: 2rem;
    color: #b8860b;
    font-family: "Forum", serif;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(3px);
  }

  .countdown__label {
    margin: 0 5px;

    font-size: 2rem;
    color: #b8860b;
    font-weight: bold;
  }

  .time-box {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    background-color: $box-bg;
    border-radius: 8px;
    border: 1px solid $box-border;
    color: $text-color;
    min-width: 80px;

    span {
      display: block;
      font-size: 34px;
      font-weight: bold;
      color: $highlight-color;
      margin-bottom: 5px; // Añade un margen inferior para separar el texto
    }

    p {
      margin: 0;
      font-size: 14px;
      color: darken($text-color, 10%);
    }
  }
  button {
    background-color: #750a2e;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #606655;
    }

    font-family: "Great Vibes", cursive;

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }

      40% {
        transform: translateY(-10px);
      }

      60% {
        transform: translateY(-5px);
      }
    }
  }
}
