$color-black: #1a1a1a;
$color-dark-rose: #2f4f4f;
$color-light-rose: #a8bfa0;
//$color-gold: #c9a86a;
$color-white: #ffffff;
$color-background: #f8f6f4;
$color-text: #4a4a4a;
//rosas
$color-light-rose: #eb90b7;
$color-dark-rose: #b64677;
$color-button: #b64677;
$color-button-hover: #d29ba0;
$color-border: #e0d6d1;
$color-gold: #d4af37; 

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

.invitation {
  text-align: center;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: clamp(10px, 5vw, 40px);
  background: $color-white url("/assets/plants3.png") center/cover no-repeat;
  border-radius: 12px;
  border: 2px solid $color-dark-rose;
  font-family: 'Charm', serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Charm', serif;
  }

  .attire-section {
    font-size: clamp(1.5em, 4vw, 2.5em);
    color: $color-dark-rose;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: 'Charm', serif;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-black;
    font-family: 'Charm', serif;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: $color-dark-rose;
    font-family: 'Charm', serif;
  }

  .button {
    background-color: $color-dark-rose;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
    font-family: 'Charm', serif;

    &:hover {
      background-color: $color-light-rose;
      color: $color-black;
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba($color-dark-rose, 0.8);
    }
  }
}