<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div class="invitation">
  <div class="bg-imageDos">
    <!-- Imagen de bienvenida -->
    <div class="photo-section">
      <!-- Marco con la foto adentro -->
      <div class="photo-frame">
        <img
          src="/assets/pastel2.png"
          alt="Imagen de bienvenida"
          class="photo"
        />
      </div>
      <!-- Flores PNG sin fondo -->
      <!-- <img src="/assets/rosas.png" alt="flores" class="flowers" /> -->
      <!-- Texto -->
      <h1 class="name">Joselin</h1>
      <br />
    </div>
    <!-- Música -->
    <div class="invitation-music">
      <br />
      <br />
      <br />
      <br />
      <h1 class="music">Preciona play para reproducir la música</h1>
      <div class="music-player">
        <br />
        <audio controls autoplay>
          <source src="assets/Indila-Love Story.mp3" type="audio/mp3" />
          Tu navegador no soporta el elemento de audio.
        </audio>
      </div>
    </div>

    <div class="photo-section">
      <br />
      <br />
      <img src="assets/Num.png" class="photo" />
      <img src="/assets/rosas.png" alt="flores" class="flowers" />
    </div>
    <p class="parrafo">
      En este cuento de hadas, hoy me toca a mí sentirme como una princesa...
      Pero en mi sueño encantado, todos son protagonistas de este cuento feliz,
      inolvidable y mágico.
    </p>

    <!-- Padres y padrinos -->
    <div class="attire-section">
      <img src="assets/rosas.png" class="custom-img" />
      <h2>Mis Padres</h2>
      <p>Benjamín López Arambula</p>
      <p>Martha Araceli Peña Rivera</p>
      <br />
      <h2>&</h2>
      <br />
      <h2>Mis Padrinos</h2>
      <p>Luis Fernando Topete</p>
      <p>Gabriela López Arambula</p>
      <br />
      <br />
      <br />
      <br />
      <!-- <h2>Dejo un mundo atrás y entro a uno nuevo...</h2> -->
    </div>
  </div>

  <!-- Texto inicial -->
  <div class="bg-imageDos">
    <div class="photo-section">
      <!-- Marco con la foto adentro -->
      <div class="photo-frame">
        <img
          src="/assets/cuclillas.png"
          alt="Imagen de bienvenida"
          class="photo"
        />
      </div>
      <!-- Flores PNG sin fondo -->
      <img src="/assets/rosas.png" alt="flores" class="flowers" />
      <!-- Texto -->
    </div>
    <div class="photo-section">
      <h2>Mis Quince Años</h2>
      <img src="/assets/FECHA.png" class="photoDate" />
      <img />
    </div>
    <!-- Ceremonia -->
    <div class="photo-section">
      <br />
      <h2>Misa</h2>
      <h3>Parroquia de San Francisco de Asís</h3>
      <br />
      <div class="container">
        <button class="golden-button" (click)="openInGoogleMapsD()">
          <span class="button__text">Ver Ubicación</span>
        </button>
      </div>
    </div>

    <!-- Recepción -->
    <div class="photo-section">
      <br />
      <br />
      <br />
      <h2>Recepción</h2>
      <h3>Real de las Palmas</h3>
      <br />
      <div class="container">
        <button class="golden-button" (click)="openInGoogleMaps()">
          <span class="button__text">Ver Ubicación</span>
        </button>
      </div>
    </div>

    <!-- Cuenta regresiva -->
    <div class="photo-section">
      <br />
      <br />
      <br />
      <br />
      <h2>Solo Faltan</h2>
      <app-countdown></app-countdown>
      <br />
      <br />
      <br />
    </div>
  </div>

  <div class="bg-imageDos">
    <!-- Pie de foto -->
    <div class="photo-section">
      <!-- Marco con la foto adentro -->
      <div class="photo-frame">
        <img
          src="/assets/sentada.png"
          alt="Imagen de bienvenida"
          class="photo"
        />
      </div>
      <!-- Flores PNG sin fondo -->
      <img src="/assets/rosas.png" alt="flores" class="flowers" />
      <!-- Texto -->
    </div>

    <!-- Regalos -->
    <div class="attire-section">
      <h2>Regalos</h2>
      <p class="parrafo">
        El mejor regalo que me puedes dar es tu presencia, pero si algo me
        quieres obsequiar contaremos con lluvia de sobres
      </p>
    </div>

    <!-- Código de vestimenta -->
    <div class="attire-section">
      <img src="assets/icono.png" class="custom-img" />
      <h2>Vestuario Elegante</h2>
      <p>Se reservan los colores</p>
      <h3 class="vestimenta">Rojo, Negro y Dorado</h3>
      <p>para la quinceañera</p>
    </div>

    <!-- Confirmación -->
    <div class="attire-section">
      <img src="assets/rosas.png" class="custom-img" />
      <h2>Confirmar Asistencia</h2>
      <p class="parrafo">
        Quiero compartir mis sueños con los que más quiero y tú eres parte de
        ellos. En este día tan especial, te quiero invitar a mi fiesta de 15
        años. Por favor confirma tu asistencia.
      </p>
      <br>
      <br>
      <button class="golden-button" (click)="openWhatsApp()">
        Confirma asistencia
      </button>
      <br>
      <br>
      <br>
      <br>
    </div>

    <!-- Cierre -->
    <div class="attire-section">
      <br />
      <h2>Te Esperamos</h2>
      <img src="assets/goldCastle.png" class="photo-castle" />
    </div>
  </div>
</div>
